doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= 'Phuse Activity Monitor'
    link(rel="shortcut icon", href="/favicon.ico")
    style.
      @import url(https://fonts.googleapis.com/css?family=Roboto:300);
      * { font-family: 'Helvetica Neue', 'Roboto', Helvetica, Arial, sans-serif; }
      html { overflow-y: scroll; }
      body { margin: 0; }
      input[type="date"]::-webkit-inner-spin-button { display: none; }
  body
    #app
    if isProduction
      script(src="/index.js")
    else
      script(src="http://localhost:4000/index.js")
