doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= 'Phuse Activity Monitor'
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel="stylesheet", href="/styles.css")
    link(rel="stylesheet", href="/animations.css")
  body
    .wrapper
      main
        h1 Scan this barcode to begin.
        img(src=qr)
        footer
          img.logo(src='/phuse-logo.svg')
