@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
  font-family: 'Helvetica Neue', 'Roboto', Helvetica, Arial, sans-serif;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
